#banner {
    position: relative;
    color: rgb(47, 197, 10);
    font-weight: bold;
  }
.left {
    position: absolute;
    top: 8px;
    left: 40px;
  }
  .right {
    position: absolute;
    bottom: 8px;
    right: 40px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #banner img{
    width: 100%;
    height: auto;
  }
  

#titulofijo{
    display: block;
    background-color: rgba(0, 0, 0, 0.199);
    width: 90%;
    height: 50px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

footer{
    text-align: center;
  margin-bottom: 50px;
  right: 0;
  width: 100%;
  border: 1px dotted rgb(241, 37, 10);
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(222, 184, 135, 0.5);
  }
  .icon-bar i {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: rgb(20, 3, 248);
    font-size: 30px;
  }
  .icon-bar i:hover {
    background-color: rgba(175, 34, 34, 0.459);
  }