#banner {
    position: relative;
    text-align: center;
    color: white;
  }
.left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  #banner img{
      width: 50%;
      height: auto;
  }
  

#titulofijo{
    display: block;
    background-color: rgba(0, 0, 0, 0.199);
    width: 90%;
    height: 50px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}