#banner {
    position: relative;
    text-align: center;
    color: rgb(47, 197, 10);
    font-weight: bold;
  }
.left {
    position: absolute;
    top: 8px;
    left: 40px;
  }
  .right {
    position: absolute;
    bottom: 8px;
    right: 40px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #banner img{
    width: 90%;
    height: auto;
  }
  

#titulofijo{
    display: block;
    background-color: rgba(0, 0, 0, 0.199);
    width: 90%;
    height: 50px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

footer{
  margin-bottom: 50px;
  right: 0;
  width: 100%;
  border: 1px dotted rgb(241, 37, 10);
}