@import url(banner.css);
@import url(media.css);


#demo {
  display: block;
  width: 100%;
  height: 20px;
  text-align: right;
  background-color: rgba(255, 217, 0, 0.548);
  color: rgb(255, 0, 0);
  font-size: 12px;
  
}
body{
    font-size: 2em;
    background-image: url("images/ach.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 10px;
    background-attachment: fixed;
}

#banner{
  margin: 10px;
  width: 85%;
}

footer{
  background-color: rgba(4, 4, 252, 0.356);
  padding: 10px;
  text-align: center;
  color: white;
  clear: both;
  margin: 30px;
}

/*seccion header*/
header{
  display: block;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: rgba(4, 4, 252, 0.356);
  color: rgba(255, 255, 255, 0.979);
  margin-top: 0;
  font-size: 25px;
animation-name: header;
animation-duration: 4s;}

  @keyframes header {
      from {background-color:rgba(248, 252, 4, 0.651);}
      to {background-color: rgba(255, 0, 0, 0.856);}
    }

.ach img{
border: rgb(255, 0, 0) solid 1px;
border-radius: 50%;
}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 500px;
  background: rgba(216, 111, 111, 0.562);
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
ul li{
  display: block;
  text-align: center;
  border: 2px solid rgba(65, 65, 63, 0.849);
  margin-bottom: 10px;
  text-decoration: none;
}
ul li:hover {
  background-color: rgba(4, 4, 252, 0.288);
  padding-left: 5px;
  cursor: pointer;
}

article {
  float: right;
  top: auto;
  margin: 10px;
  padding: 10px;
  width: 65%;
  background-color: rgba(219, 210, 210, 0.486);
  
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}


  

  #measocio{
    border-radius: 40%;
    width: 150px;
    height: 50px;
    font-size: 15px;
    color:rgb(253, 9, 9);
    background-color: rgb(183, 183, 206);
    position: relative;
    animation-name: asocio;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  @keyframes asocio {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  #measocio:hover{
    padding-left: 10px;
    cursor: progress;
  }


/*SECCION GALERIA*/

div.gallery {
  margin-bottom: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.vid{
  display: block;
  display: flex;
  box-sizing: border-box;
  width: 60%;
  height: auto;
  margin: 10px;
  top: 50px;
}