@media (min-width: 500p) {
    nav li {
        float: left;
        padding: 5px;
        background-color: rgba(255, 0, 0, 0.37);
        text-decoration: none;
        color: rgb(14, 14, 13);
        display: inline;
        width:auto;
        border: 1px rgba(247, 8, 8, 0.658) solid;
    }
    .dropbtn, .dropdown-content, .dropdown{
        display: none;
    }
  }


  @media (min-width: 300px){
      nav {
          display: none;
      }
  }